@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgba(12, 5, 99, 0.781);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: baseline;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 60px;
    border-radius: 20px;
    background: rgba(159, 255, 175, 0.89);
}